@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: linear-gradient(
        to bottom,
        rgba(214, 232, 255, 0.9) 0%,
        rgba(214, 232, 255, 0.9) 50%,
        rgba(255, 255, 255, 0.9) 100%
      ),
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 700 700' width='700' height='700' opacity='1'%3E%3Cdefs%3E%3Cfilter id='nnnoise-filter' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='linearRGB'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.2' numOctaves='4' seed='15' stitchTiles='stitch' x='0%25' y='0%25' width='100%25' height='100%25' result='turbulence'%3E%3C/feTurbulence%3E%3CfeSpecularLighting surfaceScale='8' specularConstant='3' specularExponent='20' lighting-color='%23006dff' x='0%25' y='0%25' width='100%25' height='100%25' in='turbulence' result='specularLighting'%3E%3CfeDistantLight azimuth='3' elevation='60'%3E%3C/feDistantLight%3E%3C/feSpecularLighting%3E%3C/filter%3E%3C/defs%3E%3Crect width='700' height='700' fill='transparent'%3E%3C/rect%3E%3Crect width='700' height='700' fill='%23006dff' filter='url(%23nnnoise-filter)'%3E%3C/rect%3E%3C/svg%3E");
    --foreground: 224 71.4% 4.1%;

    --grid: #fff9c4;

    --card: 0 0% 100% / 40%;
    --card-hover: 0 0% 100% / 90%;
    --card-foreground: 0 0% 0% / 50%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: linear-gradient(
        to bottom,
        rgba(5, 7, 18, 0.9) 0%,
        rgba(5, 7, 18, 0.9) 50%,
        rgba(15, 0, 30, 0.9) 100%
      ),
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 700 700' width='700' height='700' opacity='1'%3E%3Cdefs%3E%3Cfilter id='nnnoise-filter' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='linearRGB'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.2' numOctaves='4' seed='15' stitchTiles='stitch' x='0%25' y='0%25' width='100%25' height='100%25' result='turbulence'%3E%3C/feTurbulence%3E%3CfeSpecularLighting surfaceScale='8' specularConstant='3' specularExponent='20' lighting-color='%23006dff' x='0%25' y='0%25' width='100%25' height='100%25' in='turbulence' result='specularLighting'%3E%3CfeDistantLight azimuth='3' elevation='60'%3E%3C/feDistantLight%3E%3C/feSpecularLighting%3E%3C/filter%3E%3C/defs%3E%3Crect width='700' height='700' fill='transparent'%3E%3C/rect%3E%3Crect width='700' height='700' fill='%23006dff' filter='url(%23nnnoise-filter)'%3E%3C/rect%3E%3C/svg%3E");
    --foreground: 210 20% 98%;

    --grid: #2d1a0c;

    --card: 0 0% 0% / 40%;
    --card-hover: 0 0% 0% / 90%;
    --card-foreground: 0 0% 100% / 50%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply font-sans bg-background text-foreground;
  }
  img {
    @apply my-4;
  }
  h1 {
    @apply font-mono scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl mb-4;
  }
  h2 {
    @apply font-mono scroll-m-20 w-full border-b border-gray-400 pb-2 text-3xl font-semibold tracking-tight mt-12 mb-4;
  }
  h3 {
    @apply font-mono scroll-m-20 text-2xl font-semibold tracking-tight mt-4;
  }
  h4 {
    @apply font-mono scroll-m-20 text-xl font-semibold tracking-tight;
  }
  h5 {
    @apply font-mono scroll-m-20 text-lg font-semibold tracking-tight;
  }
  h6 {
    @apply font-mono scroll-m-20 text-base font-semibold tracking-tight;
  }
  p {
    @apply leading-7 [&:not(:first-child)]:mt-6 text-gray-600 dark:text-gray-300;
  }
  a {
    @apply font-semibold underline underline-offset-4 transition-all decoration-1 hover:decoration-2 decoration-blue-500 dark:decoration-blue-400 hover:text-blue-500 dark:hover:text-blue-400;
  }
  hr {
    @apply my-6 border-t border-gray-400;
  }
  blockquote {
    @apply mt-6 border-l-2 pl-6 italic border-gray-400;
  }
  table {
    @apply w-full;
  }
  tr {
    @apply m-0 border-t p-0 even:bg-muted;
  }
  th {
    @apply border px-4 py-2 text-left font-bold [&[align=center]]:text-center [&[align=right]]:text-right;
  }
  td {
    @apply border px-4 py-2 text-left [&[align=center]]:text-center [&[align=right]]:text-right;
  }
  ul {
    @apply my-6 ml-6 list-disc [&>li]:mt-2 text-gray-600 dark:text-gray-300;
  }
  ol {
    @apply my-6 ml-6 list-decimal [&>li]:mt-2 text-gray-600 dark:text-gray-300;
  }
  code {
    @apply relative rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
  }
  .lead {
    @apply text-xl text-muted-foreground;
  }
  .large {
    @apply text-lg font-semibold;
  }
  small {
    @apply text-sm font-medium leading-none;
  }
  figure {
    @apply my-4;
  }
  figcaption {
    @apply mt-2 text-sm text-muted-foreground;
  }
  .muted {
    @apply text-sm text-muted-foreground;
  }
  mark {
    @apply text-foreground bg-input font-semibold;
  }
}
